<!--
 * @Author: Liu Yuchen
 * @Date: 2021-04-23 15:08:30
 * @LastEditors: Liu Yuchen
 * @LastEditTime: 2021-04-23 15:10:07
 * @Description: 
 * @FilePath: \liuyuchen777.github.io\base_index.html
 * @GitHub: https://github.com/liuyuchen777
-->

{% extends 'base.html' %} 
{% block title %}
Liu Yuchen HP
{% endblock %}

{% block content %}
<div id="main">
    <div class="container">
      <div class="row">

      <!-- About Me (Left Sidebar) Start -->
      <div class="col-md-3">
        <div class="about-fixed">
        
          <div class="my-pic">
            <img src="images/pic/my-pic.jpg" alt="">
            <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
            <div id="menu" class="collapse">
              <ul class="menu-link">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="pdf/resume.pdf">CV</a></li>
              </ul>
            </div>
          </div>
          <div class="my-detail">
            <div class="white-spacing">
                <h1>Liu Yuchen</h1>
                <span>Master Student at Tokyo Tech</span>
            </div> 
            
            <div class="post-title margin-bottom-30">
              <ul class="knowledge">
                <li class="bg-color-1">C/C++</li>
                <li class="bg-color-4">5G</li>
                <li class="bg-color-6">Golang</li>
                <li class="bg-color-5">DRL</li>
                <li class="bg-color-3">DevOps</li>
              </ul>
            </div>

            <ul class="social-icon">
              <li><a href="https://www.facebook.com/yuchen.liu.1848816/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/qiusenwan" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/liu-yuchen-252a1b194/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/liuyuchen777" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
      <!-- About Me (Left Sidebar) End -->
                
      <!-- Blog Post (Right Sidebar) Start -->
      <div class="col-md-9">
        <div class="col-md-12 page-body">
          <div class="row"> 
            <div class="sub-title">
              <h2>My Blog</h2>
              <!-- contact html -->
              <a href="contact.html"><i class="icon-envelope"></i></a>
            </div>
            <div class="col-md-12 content-page">
            
            <!-- Prepare a container for your calendar. -->
            <script
            src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"
            >
            </script>

            <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
            <link
            rel="stylesheet"
            href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"
            />

            <div class="post-title">
              <h2>Github@liuyuchen777</h2> 
            </div>

            <br>

            <!-- Prepare a container for your calendar. -->
            <div class="calendar">
              <!-- Loading stuff -->
              Loading the data just for you.
            </div>

            <script>
              new GitHubCalendar(".calendar", "liuyuchen777", { responsive: true });
            </script>
            
            <br>
            <br>

            <!-- Blog Post Start -->
            <div class="col-md-12 blog-post">
              <div class="post-image">
                <img src="images/blog/1.png" alt="">                                       
              </div> 
              <div class="post-title">
                <a href="https://www.notion.so/ERROR-1698-28000-Access-denied-for-user-root-localhost-35aba2d38a5043cabf4c19b6655ffd6a"><h1>ERROR 1698 (28000) Access denied for user root</h1></a>
              </div>  
              <div class="post-info">
                <span>April 23, 2021 / by <a href="#" target="_blank">Liu Yuchen</a></span>
              </div>  
              <p>Access when you try to connect mysql server on WSL2. The situation now is username and password could be confirmed to be correct. But strange access deny occurs.</p>                          			
              <a href="https://www.notion.so/ERROR-1698-28000-Access-denied-for-user-root-localhost-35aba2d38a5043cabf4c19b6655ffd6a" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
            </div>
            <!-- Blog Post End -->

            <!-- Blog Post Start -->
            <div class="col-md-12 blog-post">
              <div class="post-image">
                <img src="images/blog/3.jpg" alt="">                                       
              </div> 
              <div class="post-title">
                <a href="https://www.notion.so/2021-3bae50f975aa497da7b8cc9428d31f4f"><h1>2021 Hokkaido</h1></a>
              </div>  
              <div class="post-info">
                <span>April 23, 2021 / by <a href="#" target="_blank">Liu Yuchen</a></span>
              </div>  
              <p>My trip to Hokkaido in 2021 winter.</p>                          			
              <a href="https://www.notion.so/2021-3bae50f975aa497da7b8cc9428d31f4f" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
            </div>
            <!-- Blog Post End -->

            <!-- Blog Post Start -->
            <div class="col-md-12 blog-post">
              <div class="post-image">
                <img src="images/blog/2.jpg" alt="">                                       
              </div> 
              <div class="post-title">
                <a href="blog2.html"><h1>Inter-cell Interference Coordination for Small Cell Wireless Communications</h1></a>
              </div>  
              <div class="post-info">
                <span>April 23, 2021 / by <a href="#" target="_blank">Liu Yuchen</a></span>
              </div>  
              <p>This research is focused on adopting Deep Reinforcement Learning (DRL) to small-cell mobile communication system to optimize parameters like radio-wave, transmission power or any other possible factors which is potentially degrade the overall system performance due to inter-cell interference.</p>                          			
              <a href="blog2.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
            </div>
            <!-- Blog Post End -->

        </div>
        
    </div>
  </div>

  <!-- Footer Start -->
  <div class="col-md-12 page-body margin-top-50 footer">
    <footer>
    <p>Everyday is a new day. Everytime the me you meet is new me.</p>
    <ul class="menu-link">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="pdf/resume.pdf">CV</a></li>
    </ul>
    </footer>
  </div>
  <!-- Footer End -->

      </div>
      <!-- Blog Post (Right Sidebar) End -->
      </div>
    </div>
  </div>
{% endblock %}